$blue: #017bfe;
$section-background: yellow;
$section-title-background: $blue;
$section-border:  $blue;

.section-container{
  margin-bottom: 50px;
  padding: 30px;
  background: $section-background;
  position: relative;
  border-radius: 10px;
  background: #d5f3ff;
  .top-button, .bottom-button, .section-title{
    display: none;
  }
  &:hover{
    border: 2px solid $section-border;
    .top-button, .bottom-button, .section-title{
      display: block;
    }
  }
  .section-title{
    position: absolute;
    top:0px;
    left:0px;
    color: white;
    background: $section-title-background;
  }
  .top-button, .bottom-button{
    position: absolute;
  }
  .top-button{
    top:-10px;
    left:calc(50% - 40px);
  }
  .bottom-button{
    bottom:-10px;
    left:calc(50% - 40px);
  }
}
