<div class="section-container" [ngStyle]="{'background-image': 'url(' + section.imagePath + ')', 'background-position': 'center'}"
>
  <span class="section-title">{{section.id}}</span>
  <button class="top-button btn btn-light btn-sm"
    (click)="emitAddSection(ADD_POSITIONS.TOP)" >
    <img src="https://icons.getbootstrap.com/assets/icons/chevron-expand.svg"/>
  </button>
  {{section.id}}
  <button class="bottom-button btn btn-light btn-sm"
          (click)="emitAddSection(ADD_POSITIONS.BOTTOM)">
    <img src="https://icons.getbootstrap.com/assets/icons/chevron-expand.svg"/>
  </button>
</div>
